@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

:root {
  color-scheme: light; 
}

.dark {
  color-scheme: dark;
}
